﻿@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="@Url.Content("~/Login Page/images/icons/favicon.ico")" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login Page/vendor/bootstrap/css/bootstrap.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login Page/fonts/font-awesome-4.7.0/css/font-awesome.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login Page/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login Page/vendor/animate/animate.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login Page/vendor/css-hamburgers/hamburgers.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login Page/vendor/animsition/css/animsition.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login Page/vendor/select2/select2.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login Page/vendor/daterangepicker/daterangepicker.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login Page/css/util.css")">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login Page/css/main.css")">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/HoldOn.min.css")">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/animate.css")">
    <!--===============================================================================================-->

    <style>
        .microsoft-login-container {
            width: 100%;
            text-align: center;
            margin-top: 15px;
        }

            .microsoft-login-container a {
                color: #2C3D4E
            }

            .microsoft-login-container a {
                color: #34495e;
            }

    </style>
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form id="frmLogin" returnUrl="@ViewBag.ReturnUrl" class="login100-form validate-form">
                    <span class="login100-form-title p-b-34">
                        Account Login
                    </span>

                    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                        <input id="txtUsername" autocomplete="off" class="input100" type="text" name="username" placeholder="User name">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                        <input id="txtPassword" class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="button" id="btnSignIn" class="login100-form-btn">
                            Sign in
                        </button>
                    </div>

                    <div class="microsoft-login-container" style="padding: 0;">
                        <a href="@Url.Action("MicrosoftLogin","Account")" id="btnAddField"><i class="fa fa-windows"></i>  Microsoft Login</a>
                    </div>

                    <h3 id="message" class="w-full text-center p-t-27 p-b-239"></h3>
                </form>

                <div class="login100-more" style="background-image: url('@Url.Content("~/Login Page/images/scanning.jpg")');"></div>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/Login Page/vendor/jquery/jquery-3.2.1.min.js")"></script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/Login Page/vendor/animsition/js/animsition.min.js")"></script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/Login Page/vendor/bootstrap/js/popper.js")"></script>
    <script src="@Url.Content("~/Login Page/vendor/bootstrap/js/bootstrap.min.js")"></script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/Login Page/vendor/select2/select2.min.js")"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/Login Page/vendor/daterangepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/Login Page/vendor/daterangepicker/daterangepicker.js")"></script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/Login Page/vendor/countdowntime/countdowntime.js")"></script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/Scripts/HoldOn.min.js")"></script>

    @*here the login functionalities are included*@
    <script src="@Url.Content("~/Login Page/js/main.js")"></script>
</body>
</html>