﻿@{
    Layout = "~/Views/Shared/_MetronicLayout.cshtml";
}

<div>
    <p>
        <span class="mr-1">System Users</span>
        <span class="mr-1">&bull;</span>
        <span>Index</span>
    </p>
</div>
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon2-avatar"></i>
            </span>
            <h4>
                Users
            </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <button id="btnAddUserModal" class="btn btn-primary">Add User</button>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-bordered mdl-data-table" id="dtUser">
            <thead>
                <tr>
                    <th class="text-left">Department</th>
                    <th class="text-left">Full Name</th>
                    <th class="text-left">Username</th>
                    <th class="text-left">Email</th>
                    <th class="text-left">Usertype</th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<form class="form-horizontal form-label-left" id="frmUser" autocomplete="off" url="@Url.Action("AddUser","User")" novalidate>
    <div class="modal fade" id="modalUser" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:425px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> <strong>Add User</strong></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>

                </div>
                <div class="modal-body" style="height:450px;overflow-y:auto;">
                    <div class="item form-group">
                        <label class="col-12" for="txtFullname">
                            Full Name <span class="required">*</span>
                        </label>
                        <div class="col-12">
                            <input id="txtFullname" class="form-control form-control-sm col-12" required="required" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-12" for="txtUsername">
                            Username <span class="required">*</span>
                        </label>
                        <div class="col-12">
                            <input id="txtUsername" class="form-control form-control-sm col-12" name="name" required="required" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-12" for="txtUserType">
                            Usertype <span class="required">*</span>
                        </label>
                        <div class="col-12">
                            <select id="txtUserType" class="form-control form-control-sm col-12" name="name" required="required">
                                <option disabled selected hidden value="">Select User Type</option>
                                <option value="ADMIN">System Admin</option>
                                <option value="LEAD">Department Lead</option>
                                <option value="STAFF">Staff</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-12" for="txtDepartment">
                            Department <span class="required">*</span>
                        </label>
                        <div class="col-12">
                            <select id="txtDepartment" class="form-control form-control-sm col-12" name="name" required="required"></select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-12" for="txtEmail">
                            Microsoft Email <span class="required">*</span>
                        </label>
                        <div class="col-12">
                            <input id="txtEmail" class="form-control form-control-sm col-12" name="name" required="required" type="email">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="txtPassword" class="col-12">Password</label>
                        <div class="col-12">
                            <input id="txtPassword" type="password" name="password" class="form-control form-control-sm col-12" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="txtPassword2" class="control-label col-12">Repeat Password</label>
                        <div class="col-12">
                            <input id="txtPassword2" type="password" name="password2" data-validate-linked="password" class="form-control form-control-sm  col-12" required="required">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSaveUser" class="btnSubmit btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="@Url.Content("~/Scripts/pages/user.js")" type="text/javascript"></script>
}