﻿/* Metronic Styles Override */
/*.kt-aside {
	box-shadow: 13px -2px 17px -12px rgba(41, 50, 66, 0.1);
}
.kt-aside,
.kt-aside-menu,
#kt_aside_brand,
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link {
	background: #fff !important;
}
	.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text {
		color: #8a88a2 !important; 
	}*/

.form-inline {
	display: block !important;
}

.kt-portlet .kt-portlet__body {
	padding: 25px 10px !important;
}

.dataTables_length > label {
	float: left;
}
.dataTables_filter,
.pagination {
	float: right;
}
