﻿@{
    Layout = "~/Views/Shared/_MetronicLayout.cshtml";
}

@section styles{
    <style>
        #dtDocuType tbody td:first-child {
            text-align: left;
        }

        #directory_container {
            border: #ccc 1px solid;
            overflow-y: auto;
            max-height: 265px;
            margin-top: 15px;
        }

        .jstree-default .jstree-clicked {
            background: #dcdcdc !important;
        }
    </style>

    <link href="@Url.Content("~/Metronic/assets/vendors/custom/jstree/jstree.bundle.min.css")" type="text/css" rel="stylesheet" />
}

<div>
    <p>
        <span class="mr-1">Document Types</span>
        <span class="mr-1">&bull;</span>
        <span>Index</span>
    </p>
</div>
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon2-document"></i>
            </span>
            <h4>
                List of Document Types
            </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                @if (!User.IsInRole("STAFF"))
                {
                    <button id="btnAdd" class="btn btn-sm btn-primary">
                        Add New Document Type
                    </button>
                }
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-bordered mdl-data-table" id="dtDocuType">
            <thead>
                <tr>
                    <td class="text-left">Document Type</td>
                    <td class="text-left">Folder</td>
                    <td class="text-right">Action</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Start Modal -->
<div class="modal fade" id="modalAddUpdate" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel"> <strong></strong></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body">
                <div class="item form-group mb-3">
                    <label class="col-12" for="txtDTName">
                        Document Type Name <span class="required">*</span>
                    </label>
                    <div class="col-12">
                        <input id="txtDTName" autocomplete="off" class="form-control form-control-sm col-12" required="required" type="text">
                    </div>
                </div>

                <div class="item form-group mb-0">
                    <label class="col-12" for="txtDirectory">
                        Default File Directory <span class="required">*</span>
                    </label>
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-folder"></i></span></div>
                            <input id="txtDirectory" type="text" readonly="readonly" class="form-control form-control-sm" placeholder="Select a Directory" aria-describedby="basic-addon1" aria-invalid="false">
                        </div>
                        <span class="form-text text-muted">The directory from DMS.</span>
                        <div id="directory_container">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (!User.IsInRole("STAFF"))
                {
                    <button type="button" id="btnSave" class="btnSubmit btn btn-primary">Save</button>
                }

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

@section scripts {
    <script>
    var isStaff = @if (User.IsInRole("STAFF"))
    {
        <text>true</text>
    }
    else {
        <text>false</text>
    }
    </script>


    <script src="@Url.Content("~/Metronic/assets/vendors/custom/jstree/jstree.bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/pages/documenttype.js")" type="text/javascript"></script>
}