﻿@{
    Layout = "~/Views/Shared/_MetronicLayout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/daterangepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/pages/systemlog.js")"></script>
}

@section styles {
    @Styles.Render("~/Content/daterangepicker.css")
}

<div>
    <p>
        <span class="mr-1">System</span>
        <span class="mr-1">&bull;</span>
        <span>Logs</span>
    </p>
</div>
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon2-document"></i>
            </span>
            <h4>
                System Logs
            </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button onclick="SearchLogs()" class="btn btn-sm btn-primary">
                            <span class="kt-portlet__head-icon">
                                <i style="color:white !important;" class="flaticon2-search"></i>
                            </span>
                        Search
                        </button>
                    </span>
                    <input type="text" style="width: 200px; height:32px;" readonly="readonly" id="dtrSearch" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy") - @DateTime.Now.ToString("MM/dd/yyyy")">
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-bordered mdl-data-table" id="dtSystemLogs">
            <thead>
                <tr>
                    <td class="text-left">Date/Time</td>
                    <td class="text-left">User</td>
                    <td class="text-left">Description</td>
                    <td class="text-center">Status</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

