﻿@{
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

@section scripts {
    <script>
        var templateIdparam = @ViewBag.templateId;
    </script>
    <script src=@Url.Content("~/Scripts/jquery.color.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/jquery.Jcrop.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/pdf.worker.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/pdf.js") type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/pages/addedittemp.js")" type="text/javascript"></script>
}

@section styles {
    <link href="@Url.Content("~/Content/jquery.Jcrop.min.css")" rel="stylesheet" type="text/css" />

    <style>
        #canvas-file, .field-container.active {
            position: sticky;
            z-index: 101;
        }

        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        #fields-container .field-container:nth-child(1) {
            margin-top: 20px;
        }

        .field-container {
            padding: 10px 10px !important;
        }

            .field-container.active {
                background: white;
                border: 1px solid #1E1E2D
            }

        .btnSaveField {
            width: 55px;
            height: 29px;
            font-size: 11px;
        }

        .btnRemoveCoordinate {
            width: 75px;
            height: 29px;
            font-size: 11px;
            margin-left:5px;
        }

        .field-name input {
            width: 100%;
            max-width: 155px;
        }

        .field-container > div + div {
            margin-bottom: 5px;
        }

        .locate {
            margin-top: 12px;
        }

        .btnLocate {
            height: 32px !important;
            width: 70px;
            font-size: 12px !important;
        }

        #btnNext:hover, #btnPrev:hover {
            cursor: pointer;
            color: #5867DD;
            text-decoration: underline;
        }

        .label {
            font-size: 15px;
        }
    </style>
}

<div style="padding: 10px 15px 0; min-height: 90%;" class="w-100 clearfix">
	<div>
		<p style="border-bottom: 1px solid #f2f2f2; margin-bottom: 13px; padding-bottom: 13px;">
			<a href="@Url.Action("Index", "Template")" class="mr-1"><< Back</a>
			<span class="mr-1">&bull;</span>
			<span class="mr-1"><i class="flaticon2-document"></i> Templates</span>
			<span class="mr-1">&bull;</span>
			<span id="mode">Add</span>
		</p>
	</div>
	<div class="col-md-12 text-right">
		<button id="btnSaveTemplate" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Save template</button>
	</div>
	<div class="w-100 clearfix">
		<div class="d-flex">
            <div id="set-area" class="col-4">
                <div class="d-flex align-items-center">
                    <div style="width:90%;">
                        <label for="cbxDocumentType">Document Type : </label>
                        <select class="form-control form-control-sm " id="cbxDocumentType">
                            <option disabled hidden selected>Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-4">
                    <div style="width:90%;">
                        <label for="txtTemplateName">Template Name : </label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <input class="form-control form-control-sm" autocomplete="off" id="txtTemplateName" />
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-file-text"></i></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex" style="padding: 0; width: 90%; border-top: 1px dotted #cecece; padding-top: 20px; margin-top: 40px;">
                    <div class="col-md-6" style="padding: 0;">
                        <span class="mr-3 mb-0 font-weight-bold" style="text-decoration: underline;">Add Fields </span>
                    </div>
                    <div class="col-md-6 text-right" style="padding: 0;">
                        <a href="javascript:void(0);" id="btnAddField"><i class="fa fa-plus-circle"></i> Add</a>
                    </div>
                </div>
                <div id="fields-container">

                </div>
            </div>

				<div id="file-area" style="border-left: #ccc solid 1px;" class="col-8">
                    <div>
                        <div>
                            <label>Browse the template file</label>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="col-10">
                                    <form enctype="multipart/form-data" method="post" autocomplete="off" id="frmFile">
                                        <fieldset>
                                            <input accept="image/*, .pdf" id="fileTemplate" type="file" class="form-control form-control-sm" />
                                        </fieldset>
                                    </form>
                                </div>
                                <div id="page-config-area" class="d-none align-items-center col-2 justify-content-center">
                                    <div>
                                        <i id="btnPrev" class="kt-menu__link-icon flaticon2-fast-back"></i>
                                    </div>
                                    <div class="mx-3">
                                        <label id="lblPageDetails" class="mb-0">1 of 2</label>
                                    </div>
                                    <div>
                                        <i id="btnNext" class="kt-menu__link-icon flaticon2-fast-next"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="file-container" class="overflow-auto mt-3" style="position:relative;z-index:220;">
                            <div id="file-preview" style="display:flex;justify-content:center;border:#ccc solid 1px;padding: 10px 20px;">
                                <div>
                                    <canvas id="canvas-file"></canvas>
                                </div>
                            </div>
                            <div style="z-index:250;background-repeat:no-repeat;position:absolute;border:solid red 1px;" id="img-preview">

                            </div>
                        </div>
                        
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div id="overlay"></div>