﻿@{
    Layout = "~/Views/Shared/_MetronicLayout.cshtml";
}

<div>
    <p>
        <span class="mr-1">Templates</span>
        <span class="mr-1">&bull;</span>
        <span>Index</span>
    </p>
</div>
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon2-document"></i>
            </span>
            <h4>
                List of Templates
            </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                @if (!User.IsInRole("STAFF"))
                {
                    <button id="btnAdd" onclick="window.location.href='@Url.Action("AddEdit", "Template")'"
                            class="btn btn-sm btn-primary">
                        Add New Template
                    </button>
                }
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-bordered" id="dtTemplate">
            <thead>
                <tr>
                    <td>Template</td>
                    <td>Document Type</td>
                    <td>Created By</td>
                    <td>Created On</td>
                    <td>Status</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalTemplate" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <strong>View File</strong></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="page-config-area" class="d-none align-items-center mb-4 justify-content-center">
                    <div>
                        <i id="btnPrev" class="kt-menu__link-icon flaticon2-fast-back"></i>
                    </div>
                    <div class="mx-3">
                        <label id="lblPageDetails" class="mb-0">1 of 2</label>
                    </div>
                    <div>
                        <i id="btnNext" class="kt-menu__link-icon flaticon2-fast-next"></i>
                    </div>
                </div>

                <div id="legends" class="d-flex flex-wrap justify-content-center">

                </div>

                <div style="height:350px;overflow:auto;">
                    <div id="file-area" style="width:max-content">

                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section styles {
    <style>
        .table .fa {
            font-size: 10px !important;
        }

        .table .kt-badge {
            font-weight: 500 !important;
        }

        #btnNext:hover, #btnPrev:hover {
            cursor: pointer;
            color: #5867DD;
            text-decoration: underline;
        }
    </style>
}

@section scripts {
    <script>
    var isStaff = @if (User.IsInRole("STAFF"))
    {
        <text>true</text>
    }
    else {
        <text>false</text>
    }
    </script>

    <script src=@Url.Content("~/Scripts/pdf.worker.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/pdf.js") type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/pages/template.js")" type="text/javascript"></script>
}

