﻿@{
    Layout = "~/Views/Shared/_MetronicLayout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/lodash.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>
    <script src="@Url.Content("~/signalr/js")"></script>
    <script src=@Url.Content("~/Scripts/pdf.worker.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/pdf.js") type="text/javascript"></script>
    <script src="@Url.Content("~/Metronic/assets/vendors/custom/jstree/jstree.bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/pages/ocrwizard.js")"></script>
}

@section styles {
    <link href="@Url.Content("~/Metronic/assets/vendors/custom/jstree/jstree.bundle.min.css")" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Content/select2.min.css")" type="text/css" />

    <style>
        .fa-trash:hover {
            cursor:pointer;
        }

        #no_data_msg {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 60px;
            text-align: center;
        }

        #no_data_msg span {
            border: #a7a7ec 1px solid;
            padding: 6px 30px;
        }

        .jstree-default .jstree-clicked {
            background: #dcdcdc !important;
        }

        #access_setup .title {
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 22px;
        }

        label.access-title {
            font-size: 13px;
            font-weight: 500 !important;
            margin-bottom: 10px;
        }

        .opt-container:not(:last-child) {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: #ccc double;
        }

        .opt-container:last-child {
            margin-bottom:5px;
        }

        .access-details {
            border: #828282 solid 1px;
            padding: 30px;
            margin-bottom: 10px;
        }

        #access_setup label {
            font-weight: 400;
        }

        @@media only screen and (min-width: 600px) {
            .btnDeleteSet {
                position: unset;
                margin-right: 5px;
            }
        }

        @@media only screen and (min-width: 992px) {
            .btnDeleteSet {
                position: absolute;
                right: 0px;
                top: 10px;
            }
        }

        .select2-container {
            font-weight: 400;
        }

        .kt-wizard-v1__nav-item {
            width: 32%;
        }

        .btnStartScanning i {
            font-size: 10px;
        }

        .setup-details > div > div {
            position: unset;
        }

        .btnDeleteSet:hover {
            cursor: pointer;
            color: #C01C25;
        }

        .btn-directory {
            height: 25px;
            width: 25px;
            font-size: 15px;
        }

        .directory-details {
            display: flex;
            flex-wrap: wrap;
            border: #ceceef solid 1px;
            padding: 5px 15px;
            border-radius: 5px;
            color: black;
            font-weight: 400;
            font-size: 12px;
        }

        .table-container {
            overflow-x: auto;
        }

        .directory-details-container {
            width: 250px;
            line-height: 20px;
        }

        .directory-label {
            color: #2727fd;
            font-weight: 500;
        }

            .directory-label span {
                text-decoration: underline
            }

        .scan-status i {
            font-size: 13px;
            margin-right: 2px;
        }

        .scan-status {
            margin-right: 15px;
            margin-top: -14px;
        }

        .btnStartScanning {
            height: 32px;
        }

        .set-title {
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #464457;
        }

        .set-result {
            color: #464457;
            margin-bottom: 25px;
        }

        .set-details {
            font-weight: 600;
            background-color: #efefff;
        }

        .set-fields {
            font-weight: 500;
            text-align: center;
        }

        .set-data {
            font-weight: 400;
        }

        #btnNext:hover, #btnPrev:hover {
            cursor: pointer;
            color: #5867DD;
            text-decoration: underline;
        }

        .lbl-field-name {
            font-weight: 500;
        }

        .txt-field-data {
            font-weight: 500 !important;
            font-size: 12px !important;
        }
    </style>
}

<div username="@User.Identity.Name" id="username"></div>

<div class="kt-portlet__body kt-portlet__body--fit">
    <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="between">
        <div class="kt-grid__item">

            <!--begin: Form Wizard Nav -->
            <div class="kt-wizard-v1__nav">
                <div class="kt-wizard-v1__nav-items">
                    <a class="kt-wizard-v1__nav-item" href="javascript:void(0)" data-ktwizard-type="step" data-ktwizard-state="done">
                        <div class="kt-wizard-v1__nav-body">
                            <div class="kt-wizard-v1__nav-icon">
                                <i class="flaticon-list-1"></i>
                            </div>
                            <div class="kt-wizard-v1__nav-label">
                                Initial Setup
                            </div>
                        </div>
                    </a>
                    <a class="kt-wizard-v1__nav-item" href="javascript:void(0)" data-ktwizard-type="step" data-ktwizard-state="current">
                        <div class="kt-wizard-v1__nav-body">
                            <div class="kt-wizard-v1__nav-icon">
                                <i class="flaticon-signs-1"></i>
                            </div>
                            <div class="kt-wizard-v1__nav-label">
                                Scanned Files Result
                            </div>
                        </div>
                    </a>
                    <a class="kt-wizard-v1__nav-item" href="javascript:void(0)" data-ktwizard-type="step" data-ktwizard-state="pending">
                        <div class="kt-wizard-v1__nav-body">
                            <div class="kt-wizard-v1__nav-icon">
                                <i class="flaticon-paper-plane-1"></i>
                            </div>
                            <div class="kt-wizard-v1__nav-label">
                                Publish
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!--end: Form Wizard Nav -->
        </div>
        <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">
            <!--begin: Form Wizard Form-->
            <form style="width:70%;" class="kt-form" id="kt_form" novalidate="novalidate">
                <!--begin: Form Wizard Step 1-->
                <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                    <div class="kt-heading kt-heading--md">Setup the Document Type, Template and Scan </div>
                    <div class="kt-form__section kt-form__section--first">
                        <div class="kt-wizard-v1__form">
                            <div id="step-1_content">
                                <div class="setup-details mb-md-5 mb-sm-5 position-relative" ordinal="1">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 mb-lg-0 mb-md-3">
                                            <div class="form-group mb-0">
                                                <div class="d-flex justify-content-between align-items-center mb-1">
                                                    <label class="mb-0">Document Type:</label>
                                                    <div class="d-flex align-items-center">
                                                        <div onclick="DeleteSet(this)" class="btnDeleteSet">
                                                            <i class="fa flaticon2-trash"></i>
                                                        </div>
                                                        <div class="dropdown dropdown-inline">
                                                            <button type="button" class="btn btn-clean btn-icon btn-sm btn-icon-md btn-directory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fa fa-folder"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <div class="ml-3">
                                                                    <div class="directory-label">
                                                                        <span>Files Destination</span> :
                                                                    </div>
                                                                    <div class="mt-3 mr-3">
                                                                        <div class="directory-details-container">
                                                                            <div class="directory-details">
                                                                                <div>- Please select the document type - </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <select onchange="UpdateCboTemplate(this)" class="form-control cboDocumentType"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group mb-0">
                                                <div class="d-flex justify-content-between align-items-center mb-1" style="height:32px;">
                                                    <label class="mb-0">Template:</label>
                                                </div>

                                                <select onchange="UpdateCboDocumentType(this)" class="form-control cboTemplate"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end align-items-center mt-3">
                                        <div class="scan-status d-none">
                                            <i class="fas"></i>
                                            <span class="main-status">Scanning : </span>
                                            <span class="scan-details">0 scanned file</span>
                                        </div>
                                        <button type="button" onclick="StartScanning(this)" class="btn btn-sm btn-success mr-3 btnStartScanning">
                                            <i class="flaticon2-arrow"> </i>Scan
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right mt-4 mr-1">
                                <a href="javascript:void(0);" onclick="AddSet()" id="btnAdd"><i class="fa fa-plus-circle"></i> Add</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end: Form Wizard Step 1-->
                <!--begin: Form Wizard Step 2-->
                <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                    <div class="kt-heading kt-heading--md">OCR Results</div>
                    <div class="kt-form__section kt-form__section--first">
                        <div class="kt-wizard-v1__form">
                            <div id="set_results">
                                <div id="no_data_msg"><span>-No Data-</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end: Form Wizard Step 2-->
                <!--begin: Form Wizard Step 3-->
                <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                    <div class="kt-heading kt-heading--md">Final Setup -- Access Settings</div>
                    <div class="kt-form__section kt-form__section--first">
                        <div class="kt-wizard-v1__form">
                            <div id="access_setup">
                                <div class="access-details" ordinal="1">
                                    <div class="title">Set 1</div>

                                    <div class="document-access-container opt-container">
                                        <label class="access-title">Document Access :</label>
                                        <div class="ml-4" style="display:flex;">
                                            <div class="mr-4 d-flex align-items-center">
                                                <input name="rdbIsDownloadable" type="radio" checked="checked" value="true"> Downloadable
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <input name="rdbIsDownloadable" type="radio" value="false"> View Only
                                            </div>
                                        </div>
                                    </div>

                                    <div class="access-class-container opt-container">
                                        <label class="access-title">Document Class : </label>
                                        <select onchange="AccessClassHandler(this)" class="form-control form-control-sm access-class">
                                            <option value="" disabled hidden selected>Select Class:</option>
                                            <option value="PUBLIC">Public</option>
                                            <option value="PRIVATE">Private</option>
                                            <option value="RESTRICTED">Restricted</option>
                                            <option value="CONFIDENTIAL">Confidential</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end: Form Wizard Step 3-->
                <!--begin: Form Actions -->
                <div class="kt-form__actions">
                    <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" id="btnPrevStep" data-ktwizard-type="action-prev">
                        Previous
                    </div>
                    <div class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" id="btnSubmit" data-ktwizard-type="action-submit">
                        Submit
                    </div>
                    <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" id="btnNextStep" data-ktwizard-type="action-next">
                        Next Step
                    </div>
                </div>

                <!--end: Form Actions -->
            </form>

            <!--end: Form Wizard Form-->
        </div>
    </div>
</div>

<div class="modal fade" id="modalFile" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filename"> <strong>View File</strong></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-wrap-reverse mt-lg-0 mt-md-2">
                    <div class="col-lg-4 col-md-12">
                        <div id="result-area">
                            <div>
                                <h4>Results: </h4>
                            </div>
                            <div class="mt-4 d-flex flex-wrap" style="overflow-y:auto;max-height:420px;" id="results_container">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div id="file-area" style="overflow:scroll;height:65vh;">

                        </div>
                        <div id="page-config-area" class="d-none align-items-center justify-content-center mt-3">
                            <div>
                                <i id="btnPrev" class="kt-menu__link-icon flaticon2-fast-back"></i>
                            </div>
                            <div class="mx-3">
                                <label id="lblPageDetails" class="mb-0">1 of 2</label>
                            </div>
                            <div>
                                <i id="btnNext" class="kt-menu__link-icon flaticon2-fast-next"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveContent" class="btnSubmit btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

