﻿@{
    Layout = "~/Views/Shared/_MetronicLayout.cshtml";
}

@section styles {
    <style>
        .lbldata, .lblfield {
            font-size: 15px;
            font-weight: 400;
        }

        #btnNext:hover, #btnPrev:hover {
            cursor: pointer;
            color: #5867DD;
            text-decoration: underline;
        }

        #smartwizard > ul > li {
            width: 24%;
        }

            #smartwizard > ul > li > a {
                font-weight: 600;
                font-size: 15px;
                color: #010101;
            }

                #smartwizard > ul > li > a > small {
                    font-weight: 500;
                }

            #smartwizard > ul > li.active > a {
                font-weight: 500;
            }

            #smartwizard > ul > li > a.active > small {
                font-weight: 400;
            }

            #smartwizard > ul > li.active > a {
                color: #ecf0f1 !important;
            }

            #smartwizard > ul > li.active {
                background-color: #2C3E50;
            }

        .required-docs {
            padding: 10px 10px 20px 10px;
            border: #ccc 1px solid;
        }

        #required_list_container .file {
            margin-bottom:10px;
        }

        #files_container .content {
            min-height: 50px;
        }

        #required_list_container .file:nth-child(1) {
            margin-top: 10px;
        }
        
        #files_container .file {
            padding: 10px;
            border: #ccc 1px solid;
        }
    </style>

    <link href="@Url.Content("~/Content/smart_wizard.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/smart_wizard_theme_arrows.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/smart_wizard_theme_circles.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/smart_wizard_theme_dots.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/select2.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/select2.min.css")" type="text/css" />
}

<div username="@User.Identity.Name" id="username"></div>

<div class="w-100">
    <h3 class="align-self-center mr-3 mb-4">Files Wizard</h3>
    <div id="smartwizard">
        <ul>
            <li><a href="#step-1">Document Process<br /><small>Choose Document Process</small></a></li>
            <li><a href="#step-2">Files and Templates<br /><small>Apply Templates to Files</small></a></li>
            <li><a href="#step-3">OCR Tool<br /><small>Read the text from Files</small></a></li>
            <li><a href="#step-3">Submit<br /><small>Send the batch files to DMS</small></a></li>
        </ul>

        <div>
            <div id="step-1" class="">
                <div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-2">
                            <label class="mb-0">Choose a Process : </label>
                        </div>
                        <div class="col-5">
                            <select id="cbxProcess" class="form-control form-control-sm">
                                <option selected disabled value="">Please choose a process</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="col-2">
                            <label class="mb-0">Required Docs : </label>
                        </div>
                        <div class="col-5">
                            <div id="process_summary">
                                <ul style="padding-inline-start:20px;"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step-2" class="">
                <div>
                    <div class="d-flex">
                        <div class="col-5">
                            <div>
                                <div id="files_container">
                                    <h4>Scanned Files</h4>
                                    <div class="content">
                                    </div>
                                </div>
                                <div class="mt-3" id="required_list_container">
                                    <h4>Required Docs</h4>
                                    <div class="content"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="text-center">
                                <h3>File Preview</h3>
                                <div id="file-area" style="overflow:scroll;height:65vh;">

                                </div>
                                <div id="page-config-area" class="d-none align-items-center justify-content-center mt-3">
                                    <div>
                                        <i id="btnPrev" class="kt-menu__link-icon flaticon2-fast-back"></i>
                                    </div>
                                    <div class="mx-3">
                                        <label id="lblPageDetails" class="mb-0">1 of 2</label>
                                    </div>
                                    <div>
                                        <i id="btnNext" class="kt-menu__link-icon flaticon2-fast-next"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="step-3" class="">
                Step Content 3
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="modalFile" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel"> <strong>View File</strong></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div class="col-4">
                        <div class="d-flex align-items-center">
                            <div>
                                <select class="form-control form-control-sm" id="cbxTemplate">
                                    <option disabled hidden selected>Choose a template</option>
                                </select>
                            </div>
                            <div class="ml-3">
                                <button class="btn btn-primary btn-sm" id="btnApply">Apply</button>
                            </div>
                        </div>
                        <div id="result-area">
                            <div class="mt-5">
                                <h4>Results: </h4>
                            </div>
                            <div class="mt-4" id="results_container">
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div id="file-area" style="overflow:scroll;height:65vh;">

                        </div>
                        <div id="page-config-area" class="d-none align-items-center justify-content-center mt-3">
                            <div>
                                <i id="btnPrev" class="kt-menu__link-icon flaticon2-fast-back"></i>
                            </div>
                            <div class="mx-3">
                                <label id="lblPageDetails" class="mb-0">1 of 2</label>
                            </div>
                            <div>
                                <i id="btnNext" class="kt-menu__link-icon flaticon2-fast-next"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAddUser" class="btnSubmit btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@

@section scripts {
    <script src=@Url.Content("~/Scripts/jquery.color.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/jquery.Jcrop.min.js") type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.Jcrop.min.js")" type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/pdf.worker.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/pdf.js") type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.smartWizard.min.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/pages/scannedfiles.js")" type="text/javascript"></script>
}