﻿<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->
<head>
    <base href="../">
    <meta charset="utf-8" />
    <title>OCR Tool</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    @*<link href="./assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />*@

    <!--end::Page Vendors Styles -->
    <!--begin:: Global Mandatory Vendors -->
    <link href="@Url.Content("~/Metronic/assets/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css")" rel="stylesheet" type="text/css" />

    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->


    <link href="@Url.Content("~/Metronic/assets/vendors/general/tether/dist/css/tether.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/bootstrap-timepicker/css/bootstrap-timepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/bootstrap-select/dist/css/bootstrap-select.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/select2/dist/css/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/ion-rangeslider/css/ion.rangeSlider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/nouislider/distribute/nouislider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/owl.carousel/dist/assets/owl.carousel.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/owl.carousel/dist/assets/owl.theme.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/dropzone/dist/dropzone.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/summernote/dist/summernote.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/bootstrap-markdown/css/bootstrap-markdown.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/animate.css/animate.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/toastr/build/toastr.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/morris.js/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/sweetalert2/dist/sweetalert2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/socicon/css/socicon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/custom/vendors/line-awesome/css/line-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/custom/vendors/flaticon/flaticon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/custom/vendors/flaticon2/flaticon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Metronic/assets/vendors/general/fortawesome/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/HoldOn.min.css")">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.material.min.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

    <style>
        /*Here is where the customized styles are*/

        .swal2-container {
            zoom: 1.1 !important;
        }

        #holdon-message {
            margin-top: 15px;
        }

        .kt-menu__link-text {
            text-align: center;
        }

        body {
            background: white !important;
        }

        .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon, .kt-menu__nav > .kt-menu__item > .kt-menu__link > .kt-menu__link-text {
            color: #e2e2e2 !important;
        }

        .kt-menu__subnav .kt-menu__link-text {
            color: #010101 !important;
        }

        #kt_header {
            align-items: center;
            font-size: 20px;
            font-weight: 500;
        }
    </style>

    @RenderSection("styles", required: false)


    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="@Url.Content("~/Metronic/assets/css/demo3/style.bundle.css")" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="@Url.Content("~/Metronic/assets/media/logos/favicon.ico")" />
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
			<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
				<div class="row" style="flex-direction: column; height: 100%;">
					@RenderBody()
				</div>
			</div>
        </div>
    </div>
    <!-- end:: Page -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>

    <!-- end::Scrolltop -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <!-- end::Global Config -->
    <!--begin:: Global Mandatory Vendors -->
    <script src="@Url.Content("~/Metronic/assets/vendors/general/jquery/dist/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Metronic/assets/vendors/general/popper.js/dist/umd/popper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Metronic/assets/vendors/general/bootstrap/dist/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Metronic/assets/vendors/general/js-cookie/src/js.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Metronic/assets/vendors/general/moment/min/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Metronic/assets/vendors/general/tooltip.js/dist/umd/tooltip.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Metronic/assets/vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Metronic/assets/vendors/general/sticky-js/dist/sticky.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Metronic/assets/vendors/general/wnumb/wNumb.js")" type="text/javascript"></script>

    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
   
    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="@Url.Content("~/Metronic/assets/js/demo3/scripts.bundle.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/sweetalert2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/HoldOn.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/datatables.min.js")"></script>*@
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.material.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/date.format.js")"></script>
    <script src="@Url.Content("~/Scripts/custom.js")"></script>

    @RenderSection("scripts", required: false)

    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors(used by this page) -->
    @*<script src="./assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
        <script src="//maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript"></script>
        <script src="./assets/vendors/custom/gmaps/gmaps.js" type="text/javascript"></script>*@

    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    @*<script src="./assets/js/demo3/pages/dashboard.js" type="text/javascript"></script>*@

    <!--end::Page Scripts -->
    
</body>

<!-- end::Body -->
</html>