﻿@{
    Layout = "~/Views/Shared/_MetronicLayout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/pages/docprocess.js")"></script>
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/select2.min.css")" type="text/css"/>

    <style>
        .draggable:hover {
            cursor: grab;
        }

        .draggable {
            padding: 15px;
            border: #ccc 1px solid;
        }

        .close-item {
            display: none;
            font-size: 14px;
            top: 1px;
            right: 1px
        }

        .close-item:hover {
            cursor:pointer
        }

        .draggable:hover .close-item {
            display:unset;
        }

        .lblDocumentType {
            width: 121px;
        }

        .lblMinQty {
            width: 60px;
        }
    </style>
}

<div>
    <p>
        <span class="mr-1">Doc Process</span>
        <span class="mr-1">&bull;</span>
        <span>Index</span>
    </p>
</div>
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon2-document"></i>
            </span>
            <h4>
                List of Document Processes
            </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <button id="btnAdd" class="btn btn-sm btn-primary">
                    Add New Process
                </button>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-bordered" id="dtProcess">
            <thead>
                <tr>
                    <td>Process</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@* Modal for Adding/Updating DocumentTypes *@
<div class="modal fade" id="modalDocProcess" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel"> <strong>Add a New DocumentType</strong></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="txtProcessName">Documents Process Name :</label>
                    <input type="text" id="txtProcessName" class="form-control form-control-sm" />
                </div>
                <div class="mt-3">
                    <div class="d-flex">
                        <div class="col-auto pl-0">
                            <label class="mb-0">Process Items: </label>
                        </div>
                        <div class="col-auto" style="padding: 0;">
                            <a href="javascript:void(0);" id="btnAddField"><i class="fa fa-plus-circle"></i> Add</a>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div id="sortable_items">
                            @*<div class="draggable position-relative">
            <i onclick='RemoveItem(this)' class="fa fa-window-close position-absolute close-item"></i>
            <div class="d-flex">
                <div class="col-9 d-flex align-items-center">
                    <div>
                        <label class="mb-0 lblDocumentType"> <span class="item-ordinal">1. </span> DocumentType : </label>
                    </div>
                    <div class="w-100">
                        <select onchange="ValidateDocumentTypeOption(this)" class="form-control form-control-sm cboDocumentType">
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <div>
                        <label class="mb-0 lblMinQty">Min Qty :</label>
                    </div>
                    <div>
                        <input onkeydown="AllowOnlyNumbers()" class="form-control form-control-sm" type="text" />
                    </div>
                </div>
            </div>
        </div>*@
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveProcess" class="btnSubmit btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>